body {
    background-color: #F5F5F5;

    width: 100vw;
    /* height: auto; */
    margin: 0%;

}


* {
    margin: 0;
    padding: 0%;
}



.navbar-brand-light {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;  
    font-size: 30px;
    text-decoration: none !important;
}

.my-sm-0 {
    background-color: #57a962;
    color: #fff;
    border: none; 

}

.my-sm-0:hover {
    background-color: #67a36f;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajuste o tamanho da imagem para cobrir o espaço disponível */
}


.card-body {
    background-color: #EFEFEB;
}

.espacamento {
    padding: 0% 2% ;
    padding-bottom: 1%;
}



.card_conteudo {
    background-color: #F5F5F5;
}

.card-deck {
    margin: 2% 0%;

}

.btn-custom-pink {
    color: #fff;
    background-color: #CC464C; 
    border: none; 
}

.btn-custom-pink:hover {
    color: #fff;
    background-color: #cc5e64;
}


.btn-custom-purple {
    color: #fff;
    background-color: #3A1772; 
    border: none;
}

.btn-custom-purple:hover {
    color: #fff;
    background-color: #433062; 
}

footer .col-md-4 {
    text-align: center; /* Centralizar o texto */
}


@media only screen and (max-width: 850px) {
    body {
        width: 100%;
        height: auto;
    
    }
}

@media only screen and (max-width: 570px) {

    .espacamento {
        margin: 2% 0;
    }

    #conteudo1 {
        margin: 2% 0%;
    }

    #conteudo2 {
        margin: 2% 0%;
    } 

    .form-inline input[type="search"] {
        width: 200px; 
        margin: 0px 10px;
    } 

}

@media only screen and (max-width: 320px) {
    body {
        width: 100%;
    
    }

    #conteudo1 {
        margin: 2% 0%;
    }

    #conteudo2 {
        margin: 2% 0%;
    } 

    .form-inline input[type="search"] {
        width: 150px; 
        margin: 0px 10px;
    } 
    
}