body {
    /* font-family: 'Marcellus';
    font-weight: 500; */
    /* font-family: "Gothic A1", sans-serif;
    font-weight: 400;
    font-style: normal;  */
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: white;
    background-color: #ffffff;
    width: 100vh;
    height: auto;
}

.paragrafo {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.navbar-brand-light {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;  
    font-size: 30px;
    text-decoration:none !important;
}

.my-sm-0 {
    background-color: #596475;
    color: #fff;
    border: none;
}

.my-sm-0:hover {
    background-color: #1F2232;
}

.bg {
    background-size: cover;
    background-position: center;
    width: auto; 
    height: 100vh;
}

#conteudo1 {
    background-color: rgba(61, 49, 74, 0.7); 
    padding: 50px;
    border-radius: 30px;
}

#conteudo2 {
    background-color: rgba(61, 49, 74, 0.7); 
    padding: 50px;
    border-radius: 30px;
}

.btn-custom-pink {
    background-color: #c77d81;
    border-radius: 15px;
    color: white;
}

.btn-custom-pink:hover {
    background-color: #c26a6e;
}

.btn-custom-purple {
    background-color: #aa8efd;
    border-radius: 15px;
    color: white;
}

.btn-custom-purple:hover {
    background-color: #9d7cff;
}

@media only screen and (max-width: 665px) {

    #conteudo1 {
        margin: 2% 0%;
    }

    #conteudo2 {
        margin: 2% 0%;
    } 

    /* .form-inline input[type="search"] {
        width: 150px; 
    } */

}

@media only screen and (max-width: 425px) {
    #conteudo1 {
        padding: 30px;
        margin: 10% 0%;
    }

    #conteudo2 {
        padding: 30px;
        margin: 5% 0%;
    } 

    h1 {
        font-size: 1.5rem; 
    }

    h3 {
        font-size: 1.2rem; 
    }

    p {
        font-size: 0.9rem;
    }

    .btn-custom-pink {
        font-size: 0.8rem;
    }

    .btn-custom-purple {
        font-size: 0.8rem;
    }

    .navbar-brand-light {
        font-size: 1.5rem;
    }


    .my-sm-0 {
        display: none;
    }

    .form-inline input[type="search"] {
        display: none;
    }
}

